<div class="container" style="padding-bottom: 50px; padding-top: 15px;">
  <h2 style="text-align: center; color: rgba(107,120,141,0.87)">Add Reservation</h2>
  <form [formGroup]="ReservationSave">
    <p style="color: darkgray; font-size: small"> Reservation Details </p>
    <mat-form-field style="padding-right: 15px">
      <mat-select
        placeholder="Hotel Name"
        formControlName="hotelName"
        (change)="onHotelSubmit()">
        <mat-option *ngFor="let hotel of hotels"
                    [value]="hotel.hotelName">
          {{ hotel.hotelName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [matDatepicker]="picker"
             placeholder="Check In Date"
             formControlName="checkindate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <p style="color: darkgray; font-size: small"> Room Type Details </p>

    <mat-form-field style="padding-right: 15px">
      <mat-select
        placeholder="Room Type"
        formControlName="roomtype">
        <mat-option *ngFor="let roomtype of roomTypes"
                    [value]="roomtype.type">
          {{ roomtype.type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="roomTypes.length === 0">
        Select a Hotel.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 160px; padding-right: 15px">
      <input type="number"
             min="1"
             matInput
             placeholder="Rooms"
             formControlName="noofrooms"
             style="text-align: center">
    </mat-form-field>

    <mat-form-field style="width: 160px; padding-right: 15px">
      <input type="number"
             min="1"
             matInput
             placeholder="Nights"
             formControlName="noofnights"
             style="text-align: center">
    </mat-form-field>

    <mat-form-field style="width: 160px; padding-right: 15px">
      <input type="number"
             min="1"
             matInput
             placeholder="Adults"
             formControlName="noofadults"
             style="text-align: center">
    </mat-form-field>

    <button mat-button
            color="primary"
            (click)="onAdd()"
            [disabled]="(!ReservationSave.get('roomtype').valid) ||
                               (!ReservationSave.get('noofrooms').valid) ||
                               (!ReservationSave.get('noofnights').valid) ||
                               (!ReservationSave.get('noofadults').valid)">Add</button>

    <div *ngIf="multiRoomTypes.length !== 0" >
      <mat-grid-list cols="6" rowHeight="11:1" style="max-width: 790px">
        <mat-grid-tile [colspan]=2 [rowspan]=2 style="background-color: lightgray; border-radius: 3px"> <strong>Room Type</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2 style="background-color: lightgray; border-radius: 3px"> <strong>Rooms</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2 style="background-color: lightgray; border-radius: 3px"> <strong>Nights</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2 style="background-color: lightgray; border-radius: 3px"> <strong>Adults</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2 ></mat-grid-tile>
        <div *ngFor="let rt of multiRoomTypes; let i=index">
          <mat-grid-tile [colspan]=2 [rowspan]=3>{{rt.roomtype}}</mat-grid-tile>
          <mat-grid-tile [colspan]=1 [rowspan]=3>{{rt.noofrooms}}</mat-grid-tile>
          <mat-grid-tile [colspan]=1 [rowspan]=3>{{rt.noofnights}}</mat-grid-tile>
          <mat-grid-tile [colspan]=1 [rowspan]=3>{{rt.noofadults}}</mat-grid-tile>
          <mat-grid-tile [colspan]=1 [rowspan]=3><button mat-button color="warn" (click)="onDelete(i)">Remove</button></mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>

    <p style="color: darkgray; font-size: small"> Customer Details </p>

    <mat-form-field style="padding-right: 15px">
      <input type="text"
             matInput
             formControlName="fname"
             placeholder="First Name">
    </mat-form-field>

    <mat-form-field style="padding-right: 15px">
      <input type="text"
             matInput
             formControlName="lname"
             placeholder="Last Name">
    </mat-form-field>

    <mat-form-field style="padding-right: 15px">
      <input type="text"
             matInput
             formControlName="phone"
             placeholder="Phone Number">
    </mat-form-field>

    <mat-form-field>
      <input type="email"
             matInput
             formControlName="email"
             placeholder="Email">
      <mat-error *ngIf="ReservationSave.get('email').hasError('email') && !ReservationSave.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <p style="color: darkgray; font-size: small"> Address Details </p>

    <mat-form-field style="width: 90px; padding-right: 15px">
      <input type="text"
             matInput
             formControlName="pbox"
             placeholder="Post Box" >
    </mat-form-field>

    <mat-form-field style="width: 250px; padding-right: 15px">
      <input type="text"
             matInput
             formControlName="region"
             placeholder="Region" >
    </mat-form-field>

    <mat-form-field style="width: 180px; padding-right: 15px">
      <input type="text"
             matInput
             formControlName="city"
             placeholder="City">
    </mat-form-field>

    <mat-form-field style="width: 150px; padding-right: 15px">
      <mat-select
        placeholder="Country"
        formControlName="country">
        <mat-option *ngFor="let country of countries"
                    [value]="country.countryName">
          {{ country.countryName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 90px">
      <input type="number"
             matInput
             formControlName="zipcode"
             placeholder="Zip Code">
    </mat-form-field>

    <br>

    <table>
      <tr>
        <td><button mat-raised-button
                    color="primary"
                    (click)="onSubmit()"
                    [disabled]="(!ReservationSave.get('fname').valid) ||
                                (!ReservationSave.get('phone').valid) ||
                                (!ReservationSave.get('email').valid) ||
                                (!ReservationSave.get('pbox').valid) ||
                                (!ReservationSave.get('city').valid) ||
                                (!ReservationSave.get('country').valid) ||
                                (multiRoomTypes.length === 0)">Save</button>
        </td>
        <td style="padding-left: 30px">
          <button mat-raised-button
                  color="primary"
                  (click)="onClear()">Clear</button>
        </td>
        <td style="padding-left: 30px">
          <button mat-raised-button
                  color="warn"
                  (click)="onClose()">Go Back</button>
        </td>
      </tr>
    </table>

    <!--<button mat-raised-button-->
                <!--color="primary"-->
                <!--(click)="onSubmit()"-->
                <!--[disabled]="(!ReservationSave.get('hotelName').valid) ||-->
                            <!--(!ReservationSave.get('checkindate').valid) ||-->
                            <!--(!ReservationSave.get('fname').valid) ||-->
                            <!--(!ReservationSave.get('phone').valid) ||-->
                            <!--(!ReservationSave.get('email').valid) ||-->
                            <!--(!ReservationSave.get('pbox').valid) ||-->
                            <!--(!ReservationSave.get('city').valid) ||-->
                            <!--(!ReservationSave.get('country').valid) ||-->
                            <!--(multiRoomTypes === [])">Save</button>-->

    <!--<button mat-raised-button-->
                <!--color="warn"-->
                <!--(click)="onClear()">Clear</button>-->

    <!--<button mat-raised-button-->
            <!--color="warn"-->
            <!--(click)="onClose()">Go Back</button>-->

  </form>
</div>


