<div class="container" style="padding-bottom: 50px; padding-top: 15px">
  <form [formGroup]="signupForm">
    <mat-form-field>
      <input matInput
             [matDatepicker]="picker"
             placeholder="Choose a date"
             formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker" required></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker></mat-datepicker>
      <mat-error *ngIf="!signupForm.get('date').valid">
        Select a Date
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" style="width: 80px; margin-left: 30px">
      <input type="number"
             min="1"
             matInput
             placeholder="Nights"
             formControlName="nights">
    </mat-form-field>

    <mat-form-field class="example-full-width" style="width: 80px; margin-left: 30px">
      <input type="number"
             min="0"
             matInput
             placeholder="Rooms"
             formControlName="rooms">
    </mat-form-field>

    <mat-form-field class="example-full-width" style="width: 80px; margin-left: 30px">
      <input type="number"
             min="0"
             matInput
             placeholder="Adults"
             formControlName="adults">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-left: 30px">Search</button>

  </form>

  <div *ngFor="let hotel of availableHotels; let i=index;" >
    <mat-card style="margin-bottom: 10px; border-radius: 5px">
      <mat-grid-list cols="8" rowHeight="8:1">
        <mat-grid-tile [rowspan]=8 style="background-image: url(../../../assets/building.ico); background-size: cover; border-radius: 5px;"></mat-grid-tile>
        <mat-grid-tile [colspan]=7 [rowspan]=2 style="background-color: lavender; border-radius: 5px "><strong>{{hotel.hotelName}}</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=2> <strong>Room Type</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=2> <strong>No. Rooms</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2> <strong>Max Adults</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2> <strong>Price</strong></mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2></mat-grid-tile>
        <div *ngFor="let availability of availabilities; let j=index;">
          <div *ngIf="checkHotelRoomTypes(availability.ldRoomTypeByTypeId.ldContractsByContractId.ldHotelByHotelId.hotelName,hotel.hotelName,i)" style="padding-bottom: 7px">
            <div *ngIf="noOfRoomTypes>=3">
              <mat-grid-tile [colspan]=1 [rowspan]=2></mat-grid-tile>
            </div>
            <mat-grid-tile [colspan]=2 [rowspan]=2>{{availability.ldRoomTypeByTypeId.type}}</mat-grid-tile>
            <mat-grid-tile [colspan]=2 [rowspan]=2>{{availability.availableNoRooms}}</mat-grid-tile>
            <mat-grid-tile [colspan]=1 [rowspan]=2>{{availability.ldRoomTypeByTypeId.maxAdults}}</mat-grid-tile>
            <mat-grid-tile [colspan]=1 [rowspan]=2>{{availability.ldRoomTypeByTypeId.price*((100+availability.ldRoomTypeByTypeId.markup)/100) | number : '1.2-2'}}</mat-grid-tile>
            <mat-grid-tile [colspan]=1 [rowspan]=2><button mat-raised-button color="primary" (click)="onClick(availability)" style="border-radius: 5px">Reserve</button></mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>
    </mat-card>
  </div>
</div>


