<form [formGroup]="signupForm" class="form-inline row" >
  <label class="form-check-label" for="date">Date : </label>
  <input type="date"
         class="form-control mb-2 mr-sm-2 mb-sm-0 ng-invalid.ng-touched"
         id="date"
         formControlName="date"
         style="margin-left: 10px">

  <label class="form-check-label" for="nonights">Nights : </label>
  <div class="mb-4 mr-sm-2 mb-sm-0" >
    <input type="number"
           min="0"
           class="form-control"
           id="nonights"
           formControlName="nights"
           style="margin-left: 10px; width: 60px">
  </div>

  <label class="form-check-label" for="norooms">Rooms : </label>
  <div class="mb-4 mr-sm-2 mb-sm-0" >
    <input type="number"
           min="0"
           class="form-control"
           id="norooms"
           formControlName="rooms"
           style="margin-left: 10px; width: 60px">
  </div>

  <label class="form-check-label" for="noadults">Adults : </label>
  <div class="mb-4 mr-sm-2 mb-sm-0" >
    <input type="number"
           min="0"
           class="form-control"
           id="noadults"
           formControlName="adults"
           style="margin-left: 10px; width: 60px">
  </div>

  <div class="mb-4 mr-sm-2 mb-sm-0" >
    <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid" (click)="onSubmit()">Submit</button>
  </div>

</form>

<p class="alert alert-danger" role="alert" *ngIf="!signupForm.get('date').valid && signupForm.get('date').touched">Please enter a date.</p>


<div *ngIf="getdata">
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Hotel Name</th>
          <th>Room Type</th>
          <th>Available Rooms</th>
          <th>Adults</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let availability of availabilities; let i=index;" >
        <!--{!*ngIf="no_adults<=availability.availableNoRooms*availability.ldRoomTypeByTypeId.maxAdults!}-->
        <th scope="row">{{i+1}}</th>
        <td>{{availability.ldRoomTypeByTypeId.ldContractsByContractId.ldHotelByHotelId.hotelName}}</td>
        <td>{{availability.ldRoomTypeByTypeId.type}}</td>
        <td>{{availability.availableNoRooms}}</td>
        <td>{{availability.ldRoomTypeByTypeId.maxAdults}}</td>
        <td>{{availability.ldRoomTypeByTypeId.price*((100+availability.ldRoomTypeByTypeId.markup)/100)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
